<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.kolyanov542255.schedule_classes" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/title_activity_days_list"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LessonActivity"
            android:label="@string/title_activity_days_list" >
        </activity>
        <activity
            android:name=".LessonListActivity"
            android:label="@string/title_activity_lesson_list" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".WeekPagerActivity"/>
        </activity>
        <activity android:name=".WeekPagerActivity"
            android:label="@string/title_activity_days_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

